---
import DocTreeSelf from "./DocTreeSelf.astro"
export type One = {
  name: string
  data?: any
  children: One[]
}

export interface Props {
  list: One[]
}

const { list } = Astro.props as Props
---

{list.map(v=>{
    return <details open="true">
      <summary>
        {!v.data && <span class="tree-item">{v.name}</span>}
        {!!v.data && <a href={v.data.url} class="tree-item">{v.name}</a>}
      </summary>
      {Array.isArray(v.children) && <Astro.self list={v.children} />}
    </details>
  })}