@import "./reset.css";
@import "./prism.scss";
@import "./card.css";
@import "./typo.css";

@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/work-sans-latin-400-normal.3c46b18a-20221103104408-62pf116.woff2)format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

html, body {
  background: #eee;
  height: 100%;
}

.toTop{
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  box-sizing: content-box;
  @include media-pc(sm){
    display: none;
  }
}

.layout{
  display: flex;

  // max-width: 75%;
  // margin: 0 auto;

  min-height: 100%;
  border: 1px solid #ddd;
  border-width: 0 1px;
  position: relative;
  box-sizing: border-box;
  @include media-pc(sm){
    display: block;
    margin: .5em;
    border: 0;
  }
  .side{
    background: #fff;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    padding: 1em;
    width: 300px;
    box-sizing: border-box;
    @include media-pc(md){
      display: none;
    }
  }
  .left{
    background: #fff;
    direction: rtl;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    .wrapper{
      direction: ltr;
    }
    @include media-pc(sm){
      margin: 0;
      margin-bottom: 15px;
      position: relative;
      height: auto;
    }
  }
  .right{
    flex: 1;
    width: 0;
    background: #fff;
    margin: 1em;
    display: flex;
    flex-direction: column;
    main{
      flex: 1;
      height: 0;
    }
    @include media-pc(sm){
      flex: auto;
      width: auto;
      margin: 0;
    }
    @include media-mobile(sm){
      margin: 1em 1em 1em;
    }
  }
}

.article{
  padding: 2em 2.5em 2em;
  @include media-pc(sm){
    padding: 1em 1.2em 1em;
  }
}

.hero-image{
  display: block;
  height: 460px;
  width: 100%;
  object-fit: cover;
  @include media-pc(sm){
    height: 200px;
  }
}

::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  transition: background linear 1s;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
}

