/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

html, body {
  background: #eee;
  height: 100%;
}
.layout{
  width: 95%;
  max-width: 1100px;
  margin: 3em auto 0;
}
@media screen and (max-width: 1028px) {
  .layout{
    margin: .5em auto .5em !important;
  }
}
.layout{
  display: flex;
  min-height: 100%;
  /* margin: 3em auto 0; */
  /* padding-top: 2em; */
  border: 1px solid #ddd;
  border-width: 0 1px;
  position: relative;
  box-sizing: border-box;
}
.layout .left{
  background: #fff;
  margin-right: 20px;
}
.layout .right{
  flex: 1;
  width: 0;
  background: #fff;
  padding: 5% 6% 5%;
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.layout .right main{
  flex: 1;
  height: 0;
}
.layout .left .sticky{
  position: sticky;
  top: 0;
}
@media screen and (max-width: 1028px) {
  .layout{
    display: block;
    margin: 1em;
    border: 0;
  }
  .layout .left{
    margin: 0;
    margin-bottom: 15px;
  }
  .layout .right{
    flex: auto;
    width: auto;
    margin: 0;
  }
}
@media screen and (min-width: 1028px) {
  .layout .right{
    margin: 0;
  }
}

::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  transition: background linear 1s;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
}

