/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/work-sans-latin-400-normal.3c46b18a-20221103104408-62pf116.woff2)format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

html, body {
  background: #eee;
  height: 100%;
}
.layout .right{
  margin: 1em;
}
/* .layout{
  width: 95%; 
  max-width: 1280px;
  margin: 0 auto 0;
} */

/* @media screen and (max-width: 1280px) {
  .layout{
    margin: .5em auto .5em !important;
  }
} */
.layout{
  display: flex;
  min-height: 100%;
  /* margin: 3em auto 0; */
  /* padding-top: 2em; */
  border: 1px solid #ddd;
  border-width: 0 1px;
  position: relative;
  box-sizing: border-box;
}
.layout .left{
  background: #fff;
}
.layout .right{
  flex: 1;
  width: 0;
  background: #fff;
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.layout .right main{
  flex: 1;
  height: 0;
}
.layout .left .sticky{
  position: sticky;
  top: 0;
}
@media screen and (max-width: 1028px) {
  .layout{
    display: block;
    margin: .5em;
    border: 0;
  }
  .layout .left{
    margin: 0;
    margin-bottom: 15px;
  }
  .layout .right{
    flex: auto;
    width: auto;
    margin: 0;
  }
}
@media screen and (min-width: 1028px) {
  .layout .right{
    margin: 2em 1em 1em;
  }
}
.article{
  padding: 2em 2.5em 2em;
}
.hero-image{
  display: block;
  height: 460px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1028px) {
  .hero-image{
    height: 200px;
  }
  .article{
    padding: 1em 1.2em 1em;
  }
}

::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  transition: background linear 1s;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
}

