---
import BaseHead from '@blog/components/BaseHead.astro';
import Header from '@blog/components/Header.astro';
import Footer from '@blog/components/Footer.astro';
import { publishedTree } from "@blog/utils"
import DocTree from "@blog/components/DocTree/DocTree.astro"

const articles = await publishedTree()

export interface Props {
	title: string
	description: string
  hideSide: boolean
}

let { title, description, hideSide } = Astro.props as Props

---

<!DOCTYPE html>
<html lang="zh">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
    <div class="layout">
      <div class="left">
        <div class="wrapper">
          <Header title={title}/>
          <DocTree list={articles}></DocTree>
        </div>
      </div>
      <div class="right">
        <main>
          <slot />
        </main>
        <Footer />
      </div>
      {!hideSide && <div class="side">
        <slot name="side"/>
      </div>}
    </div>
    <div class="toTop" id="toTop">回到顶部</div>
    <script src="@blog/scripts/main.ts"></script>
	</body>
</html>
