---
import BlogPage from "../layouts/BlogPage.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<BlogPage title={SITE_TITLE} description={SITE_DESCRIPTION}>

<h1>简单博客</h1>
<p>正如所见，该主题简单到只有侧边栏和内容栏。</p>
</BlogPage>
