---
import BlogPage from "../layouts/BlogPage.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { published } from "@blog/utils"
---
<BlogPage content={{title: SITE_TITLE, description: SITE_DESCRIPTION}}>
<h1>客人远道而来，不胜荣幸。</h1>
<p>门有车马客，问君何乡士。捷步往相讯，果得旧邻里。凄凄声中情，慊慊增下俚。  </p>

<p>语昔有故悲，论今无新喜。清晨相访慰，日暮不能已。欢戚竞寻叙，谈调何终止。  </p>

<p>辞端竟未究，忽唱分途始。前悲尚未弭，后戚方复起。嘶声盈我口，谈言在我耳。 </p>
</BlogPage>
