---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} NPMRUN. All rights reserved. 
	<p>Built with ♥ by <a href="https://github.com/npmrun/pure-blog">pure-blog</a></p>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
